@font-face {
  font-family: Josefin Sans;
  src: url(https://fonts.googleapis.com/css?family=JosefinSans);
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: Josefin Sans;
  }
  body{
    font-family: Josefin Sans;
    /* background: #dfefff; */
    background-image: url(images/bg2.jpg);
    background-size: cover;
  }
  nav{
    /* background-color: white; */
    background-color: rgba(255, 255, 255, 0.9);
    height: 80px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 36, 81, 0.1);
  }
  .logo{
    height: 90px;
    width: 210px;
    margin-top: -5px;
    margin-left: 40px;
  }
  /* label.logotext{
    color: black;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  } */
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: #424244;
    font-size: 17px;
    padding: 7px 30px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  nav ul li a.active,nav ul li a:hover{
    background: #dfefff;
    transition: .8s;
    padding: 10px 30px;
    border-radius: 10px;
  }
  .checkbtn{
    font-size: 30px;
    color: #424244;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 1500){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 600px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: white;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
      z-index: 1;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    nav ul li a:hover,nav ul li a.active{
      color: #424244;
      background: #dfefff;
      transition: .8s;
      padding: 10px 30px;
      border-radius: 10px;

    }
    #check:checked ~ ul{
      left: 0;
    }
  }

  /* HOME */
  section{
    height: auto;
    text-align: center;
    align-content: center;
    padding: 50px;
    color:#424244;
    line-height: 2;
  }
  .user-container{
    background-color: rgba(255, 255, 255, 0.2);
    width: 80%;
    margin-left: 10%;
    border-radius: 30px;
    padding: 20px 0 20px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 36, 81, 0.1);
    padding: 5%;
  }
  .picuser{
    border: 8px solid white;
    height: 250px;
    width: 250px;
    margin: -40px 0;
    border-radius: 50%;
    /* box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.5); */
  }
  h1{
    font-size: 50px;
    padding-top: 28px;
    color: #484c89;
  }
  .social{
    display: inline-flex;
    margin-left: -15px;
  }
  .social a img:hover{
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
  }
  hr.solid {
    border-top: 3px solid #424244;
    width: 80%;
    align-content: center;
    margin-left: 10%;
    
  }
  p{
    font-size: 18px;
  }
  .resumebtn{
    text-decoration: none;
    color: #424244;
    background-color: white;
    border-radius: 10px;
    padding: 15px 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 36, 81, 0.1);
  }
  .resumebtn:hover {
    background-color: #002451; 
    color: white;
    transition: 0.8s ease-in-out;
    padding: 15px 50px;
  }
  .resumebtn::after{
    text-decoration: none;
    color: #424244;
    background-color: white;
    transition: 1s ease-in-out;
    background-color: white;
  }
  .resumebtn:hover::after{
    text-decoration: none;
    color: #424244;
    background-color: white;
    transition: 1s ease-in-out;
    background-color: white;
  }
  h2{
    font-size: 20px;
    text-align: center;
  }
  /* .grid-container-wrapper {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 100%;  
    width: 50%;
    font-size: 15px;

  }
  
  .grid-container {
    display: grid;
    column-gap: 20px;
    row-gap: 20px; 
    grid-template-columns: repeat(4, 0.5fr);
    grid-template-rows: repeat(0, 1fr);
    height: 10%; 
  } */
  
  .pic {
    height: 40px;
    width: 40px;
    float: left;
    margin: -5px 0 0 20px;
  }
  
  .grid-item {
    border: 3px solid #424244;
    padding: 10px 5px 2px 5px;
    float: right;
    width: 200px;
    margin: 20px; /* Adjust as needed */
    border-radius: 10px;
    
  }
  
  .grid-item-a {
    grid-area: 1 / 1 / 2 / 2;
  }
  
  .grid-item-b {
    grid-area: 1 / 2 / 2 / 3;
  }
  
  .grid-item-c {
    grid-area: 1 / 3 / 2 / 4;
  }
  
  .grid-item-d {
    grid-area: 1 / 4 / 2 / 5;
  }
  
  .grid-item-e {
    grid-area: 1 / 5 / 2 / 6;
  }

  /* Float four columns side by side */
.column {
  float: left;
  width: 20%;
  padding: 0 30px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 10%;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 1500px){
  .column {
    width: 50%;
    display: inline-block;
    margin: 3% 0;
  }
  h1{
    font-size: 40px;
    line-height: 1;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 600px){
  .column {
    width: 100%;
    display: inline-block;
    margin: 3% 0;
  }
  .social{
    margin-left: -25px;
  }
  .user-container{
    padding-top: 70px;
  }
  .contactlogo{
    height: 80px;
    width: 400px;
    border-radius: 50%;
    margin: 10px auto;
    border: 4px solid white;
    position: relative;
  }
}

/* Style the counter cards */
.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  border: 3px solid #424244;
  border-radius: 10px;
}

/* CONTACT */

/* Style the counter cards */
.contactsection{
  height: auto;
  text-align: center;
  align-content: center;
  color:#424244;
}
.logoarea{
  text-align: center;
}
.contactlogo {
  height: 280px;
  width: 600px;
  border-radius: 50%;
  margin: 10px auto;
  border: 4px solid white;

}

.contact-container{
  background-color: rgba(255, 255, 255, 0.2);
  width: 70%;
  margin-left: 15%;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 36, 81, 0.1);
  padding: 0 3% 3% 3%;
}

.cpic {
  height: 80px;
  width: 80px;
  margin: -10px 20px 0 0;
  /* grid-area: 1 / 1 / 3 / 2; */
  float: left;
}
.contactsocial{
  grid-area: 1 / 2 / 2 / 5;
  text-align: left;
  color: #002451;
  font-size: 20px;
}
.contactinfo{
  grid-area: 2 / 2 / 3 / 5;
  text-align: left;
  margin-top: -15px;
}
.contactbtn{
  text-decoration: none;
  color: #424244;
  background-color: #dfefff;
  padding: 0 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 36, 81, 0.1);
  border: 2px solid #424244;
  border-radius: 10px;
  /* grid-area: 1 / 5 / 3 / 6; */
  float: right;
  margin-top: -50px;

}
.contactbtn:hover {
  background-color: white; 
  color: #424244;
  transition: 0.5s ease-in-out;
}

/* Float four columns side by side */
.ccolumn {
  float: left;
  width: 50%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.crow {margin: 0 -5px;}

/* Clear floats after the columns */
.crow:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 1500px){
  .ccolumn {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  .submitbtn{
    margin-top: -20px;
  }

}
@media screen and (max-width: 600px){
  .ccolumn {
    width: 50%;
  }
  .contact-container2{
    width: 200%;
    height: 120%;
    padding: 20px;
  }
  .message{
    font-size: 20px;
    padding-top: 25px;
  }
  .submitbtn{
    margin: -30px 0 0 -15px;
    transform: scale(0.8);
  }
  .getintouch{
    font-size: 30px;
    padding-top: 30px;
  }
  .cpic {
    height: 80%;
    width: 100%;
  }
  .contactbtn{
    transform: scale(0.6);
    margin: -0 -27px 0 -40px;
  }
  .contactsocial, .contactinfo{
    color: transparent;
    font-size: 0;
  }
  .contact-container2{
    margin-top: -75px;
  }
  .ccard{
    height: 110px;
    padding-bottom: 500px;
  }

}

/* Style the counter cards */
.ccard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  margin: 5px;
  border: 5px solid #002451;
  border-radius: 20px;
}

.contact-container2{
  background-color: #BFD0E2;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 36, 81, 0.1);
  padding: 0 3% 8% 3%;
}
.message{
  width: 100%;
  text-align: left;
  margin-left: 10px;
}

form{
  text-align: left;
}

input[type=text]{
  width: 100%;
  padding: 16px 16px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 10px;
  border: none;
}

.submitbtn{
  text-decoration: none;
  color: #424244;
  background-color: white;
  border-radius: 10px;
  padding: 15px 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 36, 81, 0.1);
  border: none;
  float: left;
}
.submitbtn:hover {
  background-color: #002451; 
  color: white;
  transition: 0.5s ease-in-out;
  padding: 15px 50px;
}

/* PROJECTS */

.project-container{
  height: auto;
  text-align: center;
  align-content: center;
  padding: 0px;
  color:#424244;
  width: 100%;
 
}
.pcolumn {
  float: inline-start;
  margin: 0 0 0 15px;
  padding: 0 5px;
}

/* Remove extra left and right margins, due to padding */
.prow {
  margin-left: 22%;
  text-align: center;
}

/* Clear floats after the columns */
.prow:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 1500px){
  .pcolumn {
    width: 25%;
    display: block;
    text-align: center;
    margin: 20px;
  }
  .prow {
    margin-left: 10%;
  }
}
@media screen and (max-width: 600px){
  .pcolumn {
    width: 45%;
    display: block;
    text-align: center;
    margin: 10px;
  }
  .prow {
    margin-left: 0%;
  }

}

/* Style the counter cards */
.pcard {
  padding: 25px;
  text-align: center;
  border: none;
  border-radius: 5px;
  /* background-color: white; */
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  top: 0;
  transition: all .1s ease-in;
  
    
  &:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
  }
}
h3{
  font-size: 30px;
  text-align: center;
}
.ppic {
  height: 150px;
  width: 150px;
}
.ptitle{
  text-align: center;
  color: #002451;
  font-size: 20px;
  margin: 10px 0;
}
.pinfo{
  text-align: left;
  margin-top: -15px;
  line-height: 2;
  padding: 0 20px;
  font-size: medium;
}
.pcolumn2 {
  float: inline-start;
  margin: 0 0 0 15px;
  padding: 0 5px;
}

/* Remove extra left and right margins, due to padding */
.prow2 {
  margin-left: 21.5%;
  text-align: center;
}

/* Clear floats after the columns */
.prow2:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 1500px){
  .pcolumn2 {
    width: 40%;
    display: block;
    text-align: center;
    margin: 20px;
  }
  .prow2 {
    margin-left: 10%;
  }

}
@media screen and (max-width: 600px){
  .pcolumn2 {
    width: 80%;
    display: block;
    text-align: center;
    margin: 20px;
  }
  .prow2 {
    margin-left: 10%;
  }

}

/* Style the counter cards */
.pcard2 {
  padding: 25px;
  text-align: center;
  border: none;
  border-radius: 10px;
  /* background-color: white; */
  background-color: rgba(255, 255, 255, 0.5);
  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: all .1s ease-in;
  height: 600px;
  width: 350px;
  &:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
  }
}
.ppic2 {
  height: 150px;
  width: 280px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 36, 81, 0.1);
}

.pcolumn3 {
  float: inline-start;
  margin: 0 0 0 15px;
  padding: 0 5px;
}

/* Remove extra left and right margins, due to padding */
.prow3 {
  margin-left: 21.5%;
  text-align: center;
}

/* Clear floats after the columns */
.prow3:after {
  content: "";
  display: table;
  clear: both;
}
.ptitle3{
  color: #002451;
  line-height: 1;
    padding: 30px 0;

}

/* Responsive columns */
@media screen and (max-width: 1500px){
  .pcolumn3 {
    width: 30%;
    display: block;
    text-align: center;
    margin: 20px;
    margin-left: 10%;
  
  }
  .pcard3{
    height: 350px;
    width: 500px;
    padding-top: 20px;
  }
  .prow3 {
    margin-left: 10%;
  }

}
@media screen and (max-width: 600px){
  .pcolumn3 {
    width: 80%;
    display: block;
    text-align: center;
    margin: 20px;
    height: 500px;
  }
  .prow3 {
    margin-left: 10%;
  }


}
/* Style the counter cards */
.pcard3 {
  padding: 25px 15px 20px 15px;
  text-align: center;
  border: none;
  border-radius: 15px;
  /* background-color: white; */
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  top: 0;
  transition: all .1s ease-in;
  height: 450px;
  max-width: 250px; 
  line-height: 0;
  &:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
  }
}
.ppic3 {
  height: 150px;
  width: 200px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 36, 81, 0.1);
}
